/* The Modal (background) */
#admin-functions-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
	bottom: 0;
	top: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	margin: auto;
	padding: 20px;
	z-index: -1;
	filter: opacity(0);
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

.admin-functions-view {
	cursor: pointer;
	height: 50px;
	width: 50px;
	padding: 10px;
	background-image: url(../../images/yp-image.png);
	background-size: cover;
	border: none;
	border-radius: 100%;
	position: absolute;
	margin: 15px 20px;
	top: 0;
	right: 0;
	z-index: 999;
}

#admin-options {
	display: flex;
	flex-direction: row;
}

#admin-options button {
	width: 300px;
	margin-block: 20px;
}

/* Forms */
#update-user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.birthdate-format {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	padding: 20px;
}

.birthdate-entry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}

.date-input {
	width: 100px;
}

.divider {
	font-size: 50px;
	color: white;
}

#user-submit-btn {
	width: 420px;
	margin-inline: 0px;
}
