* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 100;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
}


#info-page {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#navbar {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 5%;
	height: 94.9vh;
	background-color: rgba(255, 255, 255, 0.2);
	overflow-y: hidden;
}

.nav-link {
	text-align: center;
	text-decoration: none;
	height: 100%;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.7);
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

.nav-link:hover {
	transform: scale(1.05);
	background-color: rgba(255, 255, 255, 0.3);
	border-color: white;
	color: white;
}

#view-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 95%;
}

#month-heading {
	text-decoration: 3px underline solid;
	padding: 20px;
	text-align: center;
	font-size: 50px;
}
