* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

button {
  padding: 15px;
  width: 200px;
  margin-inline: 10px;
}

.input {
  padding: 20px;
  margin-block: 15px;
  width: 420px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

input {
  font-size: 18px;
  color: white;
}

input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

input:focus::placeholder {
  color: white;
}

::placeholder {
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
}

#form-section {
  display: flex;
  justify-content: center;
  width: 440px;
}

#sign-up-in-choice {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 30px;
}
