.popup-background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}

#update_popup,
#confirmation_popup {
	border-radius: 5px;
	background-color: white;
	padding-inline: 115px;
}

#update_popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
	width: 75vh;
}

#confirmation_popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 25vh;
	width: 75vh;
}

#confirmation-text {
	font-size: 20px;
	color: black;
	margin-block: 10px;
	width: 100%;
}

.confirmation-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.confirmation-buttons>button {
	padding: 10px;
	width: 200px;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.user-info>input {
	width: 100%;
	margin-block: 20px;
	padding: 5px;
}

.user-info>img {
	width: 100%;
	height: 200px;
}
