#admin-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}

#admin-controls i {
	transform: scale(1.2, 1.2);
	text-align: center;
	color: white;
	width: 200px;
	padding: 10px;
}

#admin-table {
	height: 100%;
	width: 100%;
}

#table-headings {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.table-heading {
	text-align: center;
	border: 1px solid black;
	width: 100%;
	padding: 20px;
}

.table-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	cursor: pointer;
}

.table-column {
	border: 1px solid black;
	text-align: center;
	padding: 15px;
	width: 100%;
}

.highlighted_row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	background-color: red;
}
