* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 100;
	scroll-behavior: smooth;
	overflow-x: hidden;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}

::selection {
	color: #ff4500;
	background-color: rgba(255, 255, 255, 0.5);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

input,
button {
	padding: 15px;
	margin-block: 15px;
	width: 100%;
	border-radius: 5px;
	color: black;
	font-size: 18px;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

input {
	border: none;
	outline: none;
	border-bottom: 1px solid rgb(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
}

button {
	border: none;
	opacity: 1;
	background-color: white;
}

input:focus {
	color: white;
	outline: none;
	border-bottom: 1px solid white;
}

button:disabled {
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
}

button:disabled:hover {
	color: black;
	cursor: default;
}

button:hover {
	cursor: pointer;
}

::placeholder {
	font-size: 15px;
	color: rgb(0, 0, 0, 0.5);
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

input:focus::placeholder {
	color: white;
}

/* Icons */
.site-icons {
	color: white;
	font-size: 20px;
	cursor: pointer;
}

/* Preloader CSS */
#preloader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 999;
	height: 100vh;
	width: 100%;
	background-image: url("../../global_use/global_images/background.png"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	background-blend-mode: overlay;
	background-position: center;
	background-size: cover;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

@keyframes fade {
	0% {
		filter: opacity(1);
	}

	25% {
		filter: opacity(0.2);
	}

	50% {
		filter: opacity(1);
	}

	75% {
		filter: opacity(0.2);
	}

	100% {
		filter: opacity(1);
	}
}

.outer-loader-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 250px;
	border-left: 5px solid #187BBE;
	border-bottom: 5px solid #187BBE;
	width: 250px;
	animation: loadingRotation infinite 4s;
	animation-timing-function: ease-in-out;
}

.inner-loader-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 150px;
	border-left: 5px solid #ED5D38;
	border-bottom: 5px solid #ED5D38;
	width: 150px;
	animation: loadingRotation infinite 5s;
	animation-timing-function: ease-in-out;
}

.within-inner-loader-circle {
	border-radius: 50%;
	height: 100px;
	border-left: 5px solid #187BBE;
	border-bottom: 5px solid #187BBE;
	width: 100px;
	animation: loadingRotation infinite 6s;
	animation-timing-function: ease-in-out;
}

@keyframes loadingRotation {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Form Components */
.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 420px;
}

.view-password {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

#toggle-password {
	position: absolute;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	left: 350px;
	right: 0;
	text-align: center;
	height: 60px;
	width: 60px;
	cursor: pointer;
	font-size: 30px;
}

.fa-eye-low-vision {
	color: rgb(0, 0, 0, 0.5);
}

.fa-eye {
	color: rgb(255, 255, 255, 0.9);
}

.birthdate-format {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	padding: 20px;
}

.birthdate-format-choice {
	font-size: 20px;
	color: white;
}

.birthdate-entry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}

.date-input {
	width: 100px;
}

.divider {
	font-size: 50px;
	color: white;
}

/* Footer */
#footer {
	display: flex;
	align-items: center;
	height: 5vh;
	color: white;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0;
	width: 100%;
}
