/* Form */
#signin-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 420px;
}

#admin-submit-btn {
	width: 420px;
	margin-inline: 0px;
}

.view-password {
	display: flex;
	align-items: center;
	flex-direction: row;
}

#toggle-password {
	position: absolute;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	left: 350px;
	right: 0;
	text-align: center;
	height: 60px;
	width: 60px;
	cursor: pointer;
	font-size: 30px;
}

.fa-eye-low-vision {
	color: rgb(0, 0, 0, 0.5);
}

.fa-eye {
	color: rgb(255, 255, 255, 0.9);
}
